{% extends "base.html" %}
{% block content %}

<title>Job Application Form</title>
<div class="max-w-md mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4">{{job.job_title}}</h2>
    <form class="space-y-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="skills" class="block text-sm font-medium text-gray-700">Skills</label>
            <input type="text" id="skills" name="skill" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border p-3 rounded-md">
        </div>
        <div>
            <label for="experience" class="block text-sm font-medium text-gray-700">Experience</label>
            <textarea id="experience" name="experience" rows="3" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border p-3 rounded-md"></textarea>
        </div>
        <div>
            <label for="resume" class="block text-sm font-medium text-gray-700">Resume</label>
            <input type="file" id="resume" name="resume" accept=".pdf,.docx" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border p-3 rounded-md">
            <p class="mt-2 text-sm text-gray-500">Upload your resume in PDF or Word format.</p>
        </div>
        <div>
            <label for="photo" class="block text-sm font-medium text-gray-700">Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border p-3 rounded-md">
            <p class="mt-2 text-sm text-gray-500">Upload your photo.</p>
        </div>
        <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Submit
            </button>
        </div>
    </form>
</div>

{% endblock content %}


