{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<style>
    ul#imageNames:empty {
    display: none;
}
</style>
<div class="container-fluid">
    <div class="row">
        
       
            
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center mb-4">
                        
                        <img class="mr-3 rounded-circle" src="{{user.profile_pic.url}}" width="80" height="80" alt="" >
                        <div class="media-body">
                            <h4 class="mb-0">{{user.name}}</h4>
                            <p class="text-muted mb-0">{{user.location}}</p>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col">
                            <div class="card card-profile text-center">
                                <a href="{% url 'friendFollowing' user.username  %}">
                                    <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                    <h3 class="mb-0">{{total_following}}</h3>
                                    <p class="text-muted px-4">Following</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-profile text-center">
                                <a href="{% url 'friendFollower' user.username %}">

                                    <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                    <h3 class="mb-0">{{total_followers}}</h3>
                                    <p class="text-muted">Followers</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            {% if not user %}
                            <button class="btn btn-danger px-5">Follow Now</button>
                            {% endif %}
                        </div>
                    </div>

                    <h4>About Me</h4>
                    <p class="text-muted">{{user.about}}</p>
                    <ul class="card-profile__info">
                        <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span>{{user.phone}}</span></li>
                        <li><strong class="text-dark mr-4">Email</strong> <span>{{user.email}}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="col-lg-8 col-xl-9">

            
            {% if not user.username == request.user.username %}
                
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body pb-0 d-flex justify-content-between">
                                    <div>
                                        <h4 class="mb-1">Calorie Summary</h4>
                                        <p>Last 7 Days BMR vs Consumed Calories Chart</p>
                                        
                                    </div>
                                    
                                </div>
                                <div class="chart-wrapper px-5">

                                    {% comment %} <canvas id="chart_widget_2"></canvas> {% endcomment %}
                                    <canvas id="calorieChart" width="400" height="100"></canvas>
                                    
                                </div>
                                <div class="card-body">  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
                
            
            
            {% if postLength %}
            <div class="card">
                <div class="card-body">
                    
                    {% for post in postdata %}
                        <div class="media media-reply">
                        <img class="mr-3 circle-rounded" src="{{ post.user.profile_pic.url }}" width="50" height="50"  alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="d-sm-flex justify-content-between mb-2">
                                <h5 class="mb-sm-0">{{ post.user.name }}  <small class="text-muted ml-3"> {{post.time}} {{ post.date }} </small>
                                </h5>
                                <div class="media-reply__link">
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-thumbs-up"></i></button>
                                    <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-thumbs-down"></i></button>
                                    <button type="button" class="btn btn-transparent text-dark font-weight-bold p-0 ml-2" data-toggle="modal" data-id="{{ post.id }}" data-target="#exampleModalCenter"> Reply </button>
                                </div>
                            </div>
                            <p>{{ post.post }}</p>
                            <ul>
                                {% for image in post.postimage_set.all %}
                                        <img src="{{ image.image.url }}" alt="" style="max-height: 10rem; margin-bottom: 8px; border-radius: 8px; border: 1px solid #ccc;">
                                {% endfor %}                               
                            </ul>
                           
                            
                            {% for comment in post.commentsmodel_set.all %}
                            <div class="media mt-3">
                                <img class="mr-3 circle-rounded circle-rounded" src="{{ comment.user.profile_pic.url }}" width="50"
                                    height="50" alt="Generic placeholder image">
                                <div class="media-body">
                                    <div class="d-sm-flex justify-content-between mb-2">
                                        <h5 class="mb-sm-0">{{ comment.user.name }} <small class="text-muted ml-3"> on {{ comment.date }} {{ comment.time }}</small></h5>
                                        
                                    </div>
                                    <p>{{comment.comment}}</p>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="border">
                                <div class="card-body">
                                    <form action="{% url 'comments' %}" method='post' class="form-profile" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type='hidden' name="id" id='id' value="{{post.id}}">
                                            <textarea class="form-control" name="comment" id="textarea" cols="30" rows="2" placeholder="Post a new message"></textarea>
                                        </div>
                                        <button class="btn btn-primary px-3 ">Send</button>
                                        
                                    </form>
                                </div>

                            </div>

                        </div>
                        
                        
                    </div>
 
                    {% endfor %}
        
                </div>
            </div> 

            {% else %} 
            <div class="card">
                <div class="card-body">
                    <h1>No Post Available</h1>
                </div>
            </div>   
            {% endif %}
                
        </div>
    </div>
</div>

{% comment %} 
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method='post' action="{% url 'comments' %}">
      <div class="modal-body">
            <input type='hidden' name="id" id='commentid'>
            <div class="form-group">
                <textarea class="form-control" name="comment" id="textarea" cols="30" rows="2"  placeholder="Post a new message"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div> {% endcomment %}


{% comment %} <script>
    $(document).ready(function(){
        $("#fileInput").on("change", function(e){
            let fileList = e.target.files;
            $(fileList).each(function(i){
                let imgList = `<li>${fileList[i].name}</li>`;
                $("#imageNames").append(imgList);
            });
        }); 
        
        $(".media-reply__link button").on("click", function(){
            $('#commentid').val($(this).attr("data-id"))
        });
    });
</script> {% endcomment %}


<script>
    var ctx = document.getElementById('calorieChart').getContext('2d');
    var weeklyCalories = JSON.parse('{{ weekly_calories|safe }}');
    var weeklyBmr = JSON.parse('{{ weekly_bmr|safe }}');
    var calorieChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: weeklyCalories.map(data => data[0]), 
            datasets: [{
                label: 'BMR',
                data: weeklyBmr.map(data => data[1]),
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },{
                label: 'Daily Calories',
                data: weeklyCalories.map(data => data[1]),
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
            }
        }
    });
</script>

{% endblock content %}






