{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Restaurant Web App</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="dtox" />
    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins2/bootstrap/bootstrap.min.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'plugins2/themify-icons/themify-icons.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static 'plugins2/slick/slick.css' %}">
    <!-- venobox popup -->
    <link rel="stylesheet" href="{% static 'plugins2/Venobox/venobox.css' %}">
    <!-- aos -->
    <link rel="stylesheet" href="{% static 'plugins2/aos/aos.css' %}">
    <!-- Main Stylesheet -->
    <link href="{% static 'css2/style.css' %}" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images2/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images2/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <!-- navigation -->
    {% include 'resturant/navbar.html' %}
    <!-- /navigation -->
    
    <!-- hero area -->
    <section class="hero-section hero" data-background=""
        style="background-image: url(/static/images2/hero-area/banner-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center zindex-1">
                    <h1 class="mb-3">Discover Delicious Delights</h1>
                    <p class="mb-4">Indulge your senses with our curated collection of recipes, cooking techniques, and
                        culinary insights. Whether you're a seasoned chef or a kitchen novice, our goal is to inspire
                        and empower you to create unforgettable dishes.</p>
                    <a href="{% url 'aboutPage' %}" class="btn btn-secondary btn-lg">explore us</a>
                    <!-- banner image -->
                    <img style="width: 60% !important;" class="img-fluid w-100 banner-image"
                        src="{% static 'images2/hero-area/single-fruits.png' %}" alt="banner-img">
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <div id="scene">
            <img class="img-fluid hero-bg-1 up-down-animation"
                src="{% static 'images2/background-shape/feature-bg-2.png' %}" alt="">
            <img class="img-fluid hero-bg-2 left-right-animation"
                src="{% static 'images2/background-shape/seo-ball-1.png' %}" alt="">
            <img class="img-fluid hero-bg-3 left-right-animation"
                src="{% static 'images2/background-shape/seo-half-cycle.png' %}" alt="">
            <img class="img-fluid hero-bg-4 up-down-animation"
                src="{% static 'images2/background-shape/green-dot.png' %}" alt="">
            <img class="img-fluid hero-bg-5 left-right-animation"
                src="{% static 'images2/background-shape/blue-half-cycle.png' %}" alt="">
            <img class="img-fluid hero-bg-6 up-down-animation"
                src="{% static 'images2/background-shape/seo-ball-1.png' %}" alt="">
            <img class="img-fluid hero-bg-7 left-right-animation"
                src="{% static 'images2/background-shape/yellow-triangle.png' %}" alt="">
            <img class="img-fluid hero-bg-8 up-down-animation"
                src="{% static 'images2/background-shape/service-half-cycle.png' %}" alt="">
            <img class="img-fluid hero-bg-9 up-down-animation"
                src="{% static 'images2/background-shape/team-bg-triangle.png' %}" alt="">
        </div>
    </section>
    <!-- /hero-area -->
    
    <!-- feature -->
    <section class="section feature mb-0" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">Awesome Features</h2>
                    <p class="mb-100">Discover seamless convenience with our restaurants website features designed to
                        enhance your dining journey</p>
                </div>
                <!-- feature item -->
                <div class="col-md-6 mb-80">
                    <div class="d-flex feature-item">
                        <div>
                            <i class="ti-ruler-pencil feature-icon mr-4"></i>
                        </div>
                        <div>
                            <h4>Browse Our Delicious Menu Online</h4>
                            <p>Explore our mouthwatering menu from the comfort of your home.</p>
                        </div>
                    </div>
                </div>
                <!-- feature item -->
                <div class="col-md-6 mb-80">
                    <div class="d-flex feature-item">
                        <div>
                            <i class="ti-layout-cta-left feature-icon mr-4"></i>
                        </div>
                        <div>
                            <h4>Easy Online Reservations</h4>
                            <p>Make dining reservations effortlessly with our online booking system.</p>
                        </div>
                    </div>
                </div>
                <!-- feature item -->
                <div class="col-md-6 mb-80">
                    <div class="d-flex feature-item">
                        <div>
                            <i class="ti-split-v-alt feature-icon mr-4"></i>
                        </div>
                        <div>
                            <h4>Virtual Tour of Our Ambiance</h4>
                            <p>Step into our restaurant virtually with our immersive virtual tour feature.</p>
                        </div>
                    </div>
                </div>
                <!-- feature item -->
                <div class="col-md-6 mb-80">
                    <div class="d-flex feature-item">
                        <div>
                            <i class="ti-layers-alt feature-icon mr-4"></i>
                        </div>
                        <div>
                            <h4>Stay Informed with Latest Updates</h4>
                            <p>Stay in the loop with our latest news, promotions, and special events.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="feature-bg-1 up-down-animation" src="{% static 'images2/background-shape/feature-bg-1.png' %}"
            alt="bg-shape">
        <img class="feature-bg-2 left-right-animation" src="{% static 'images2/background-shape/feature-bg-2.png' %}"
            alt="bg-shape">
    </section>
    <!-- /feature -->

    <!-- marketing -->
    <section class="section-lg seo">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="seo-image">
                        <img class="img-fluid" src="{% static 'images2/hero-area/single-fruits.png' %}" alt="form-img">
                    </div>
                </div>
                <div class="col-md-5">
                    <h2 class="section-title">Quality Ingredients, Unforgettable Flavors</h2>
                    <p>Experience culinary excellence with our commitment to using only the freshest and finest
                        ingredients. Each dish is a testament to our dedication to quality, ensuring every bite is
                        packed with exceptional flavor and a touch of culinary artistry. </p>
                </div>
            </div>
        </div>
        <!-- background image -->
        <img class="img-fluid seo-bg" src="{% static 'images2/backgrounds/seo-bg.png' %}" alt="seo-bg">
        <!-- background-shape -->
        <img class="seo-bg-shape-1 left-right-animation" src="{% static 'images2/background-shape/seo-ball-1.png' %}"
            alt="bg-shape">
        <img class="seo-bg-shape-2 up-down-animation" src="{% static 'images2/background-shape/seo-half-cycle.png' %}"
            alt="bg-shape">
        <img class="seo-bg-shape-3 left-right-animation" src="{% static 'images2/background-shape/seo-ball-2.png' %}"
            alt="bg-shape">
    </section>
    <!-- /marketing -->

    <!-- service -->
    <section class="section-lg service">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5 order-2 order-md-1">
                    <h2 class="section-title">Powerful Layout From Top To Bottom</h2>
                    <p class="mb-4">Far far away, behind the word mountains,
                        far from the countries Vokalia and Consonantia,
                        there live the blind texts. Separated they
                        live in Bookmarksgrove right at the coast of the
                        Semantics, a large language ocean.</p>
                    <ul class="pl-0 service-list">
                        <li><i class="ti-layout-tab-window text-purple"></i>Responsive on any device</li>
                        <li><i class="ti-layout-placeholder text-purple"></i>Very easy to customize</li>
                        <li><i class="ti-support text-purple"></i>Effective support</li>
                    </ul>
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <img class="img-fluid layer-3" src="{% static 'images2/service/service.png' %}" alt="service">
                </div>
            </div>
        </div>
        <!-- background image -->
    <img class="img-fluid service-bg" src="{% static 'images2/backgrounds/service-bg.png' %}" alt="service-bg">
    <!-- background shapes -->
    <img class="service-bg-shape-1 up-down-animation"
        src="{% static 'images2/background-shape/service-half-cycle.png' %}" alt="background-shape">
    <img class="service-bg-shape-2 left-right-animation" src="{% static 'images2/background-shape/feature-bg-2.png' %}"
        alt="background-shape">
    </section>
    <!-- /service -->

    <!-- client logo slider -->
    <section class="section">
        <div class="container">
            <div class="client-logo-slider align-self-center">
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
                <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                        src="{% static 'images2/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
            </div>
        </div>
    </section>
    <!-- /client logo slider -->

    <!-- newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Subscribe to our newsletter</h2>
                    <p class="mb-5">Receive updates, news and deals</p>
                </div>
                <div class="col-lg-8 col-sm-10 col-12 mx-auto">
                    <form action="#">
                        <div class="input-wrapper position-relative">
                            <input type="email" class="newsletter-form" id="newsletter" placeholder="Enter your email">
                            <button type="submit" value="send" class="btn newsletter-btn">subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- background shapes -->
        <img class="newsletter-bg-shape left-right-animation"
            src="{% static 'images2/background-shape/seo-ball-2.png' %}" alt="background-shape">
    </section>
    <!-- /newsletter -->

    <!-- footer -->
    {% include 'resturant/footer.html' %}
    <!-- /footer -->

    <!-- jQuery -->
    <script src="{% static 'plugins2/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'plugins2/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick slider -->
    <script src="{% static 'plugins2/slick/slick.min.js' %}"></script>
    <!-- venobox -->
    <script src="{% static 'plugins2/Venobox/venobox.min.js' %}"></script>
    <!-- aos -->
    <script src="{% static 'plugins2/aos/aos.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'js2/script.js' %}"></script>
</body>
</html>